{% extends 'market/layout.html' %}

{% block title %}: Home{% endblock %}
{% block content %}
<div class="section-container">
    <div class="header">
        <h1 class="title">Health and Fitness</h1>
        <span><a href="/health" class="more-title">View more</a></span>
    </div>
    <div class="post-items">
        <div class="post-item">
            <h3 class="post-title"><a class="post-item-link" href="/health/post">Post Title</a></h3>
            <a class="post-item-link" href="/health/post">
            <p class="post-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, possimus. Illum beatae ut quibusdam modi quaerat aliquid? Laudantium repellat, laborum ipsa harum, vitae iste ex sit reprehenderit quam modi quia?</p>
            </a>
        </div>    
        <div class="post-item">
            <h3 class="post-title"><a class="post-item-link" href="/health/post">Post Title</a></h3>
            <a class="post-item-link" href="/health/post">
            <p class="post-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, possimus. Illum beatae ut quibusdam modi quaerat aliquid? Laudantium repellat, laborum ipsa harum, vitae iste ex sit reprehenderit quam modi quia?</p>
            </a>
        </div>    
        <div class="post-item">
            <h3 class="post-title"><a class="post-item-link" href="/health/post">Post Title</a></h3>
            <a class="post-item-link" href="/health/post">
            <p class="post-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, possimus. Illum beatae ut quibusdam modi quaerat aliquid? Laudantium repellat, laborum ipsa harum, vitae iste ex sit reprehenderit quam modi quia?</p>
            </a>
        </div>    
        <div class="post-item">
            <h3 class="post-title"><a class="post-item-link" href="/health/post">Post Title</a></h3>
            <a class="post-item-link" href="/health/post">
            <p class="post-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, possimus. Illum beatae ut quibusdam modi quaerat aliquid? Laudantium repellat, laborum ipsa harum, vitae iste ex sit reprehenderit quam modi quia?</p>
            </a>
        </div>    
        
    </div>
</div>


{% endblock %}