{% extends 'market/layout.html' %}
{% block title %}: Health and fitness{% endblock %}
{% block content %}
<div class="section-container">
    <div class="header">
        <h1 class="title">Lifestyle</h1>
    </div>
    <div class="post-items">
        <div class="post-item">
            <h3 class="post-title">Post Title</h3>
            <p class="post-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, possimus. Illum beatae ut quibusdam modi quaerat aliquid? Laudantium repellat, laborum ipsa harum, vitae iste ex sit reprehenderit quam modi quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos accusantium, libero quibusdam aperiam omnis aspernatur minus, sint ab, voluptates modi quis voluptatem possimus. Animi velit iusto minima odio illo itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro id, ipsum tenetur ab quaerat atque corrupti veniam, alias corporis nemo nulla earum. Ratione, reprehenderit aut. Ex quisquam maiores totam dolore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum tempora, asperiores inventore obcaecati officiis, quibusdam porro amet possimus incidunt laborum atque ut eligendi sint nisi dolores, vel dolore quaerat odit?</p>
        </div>       
    </div>
</div>
{% endblock %}