{% extends 'market/layout.html' %}
{% load static %}
{% block title %}: Sales{% endblock %}
{% block content %}
<div class="section-container">
    <div class="header">
        <h1 class="title">Sale</h1>
    </div>
    <div class="section-container-sec">
        <div class="posts">
            <div class="section-container-posts">
                <img class="sale-image" src="{% static 'market/images/suit2.jpg' %}" alt="Our model">
            </div>
        </div>
        <div class="posts">
            <div class="section-container-posts">
                <img class="sale-image" src="{% static 'market/images/suit3.jpg' %}" alt="Our model">
            </div>
        </div>
        <div class="posts">
            <div class="section-container-posts">
                <img class="sale-image" src="{% static 'market/images/suit4.jpg' %}" alt="Our model">
            </div>
        </div>
        <div class="posts">
            <div class="section-container-posts">
                <img class="sale-image" src="{% static 'market/images/suit5.jpg' %}" alt="Our model">
            </div>
        </div>
        <div class="posts">
            <div class="section-container-posts">
                <img class="sale-image" src="{% static 'market/images/suit7.jpg' %}" alt="Our model">
            </div>
        </div>
        <div class="posts">
            <div class="section-container-posts">
                <img class="sale-image" src="{% static 'market/images/suit6.jpg' %}" alt="Our model">
            </div>
        </div>
        <div class="posts">
            <div class="section-container-posts">
                <img class="sale-image" src="{% static 'market/images/walt.jpg' %}" alt="Our model">
            </div>
        </div>
    </div>
</div>
{% endblock %}